~*
esp8266-arduino
arduino-esp32
libs/**
Makefile
config.mk
settings.mk
web/settings.js
web/static/build/*.js
web/static/build/*.css
web/static/build/*.gz
web/node_modules
makeEspArduino/
lib/**
firmware/lib/**
hardware/board_esp32_v3/**
firmware/platformio.ini
.pio
.vscode
secrets.h
