
 # port where ESP8266 is connected
UPLOAD_PORT = /dev/ttyUSB0

# speed to use for uploading to ESP8266
#UPLOAD_SPEED = 9600
UPLOAD_SPEED = 460800
#UPLOAD_SPEED = 115200
#UPLOAD_SPEED = 921600

FS_DIR = web/static/

# for portable (wemos d1 mini) use these settings:

BOARD = d1_mini # to list possible boards: make list_boards
FLASH_DEF = 4M1M # to list possible flash defs for board: make list_flash_defs
UPLOAD_RESET = nodemcu

# for solar node use these settings:

#BOARD = generic
#FLASH_DEF = 1M512
#UPLOAD_RESET = none
