
 # port where ESP8266 is connected
UPLOAD_PORT = /dev/ttyUSB0

# speed to use for uploading to ESP8266
#UPLOAD_SPEED = 9600
UPLOAD_SPEED = 460800
#UPLOAD_SPEED = 115200
#UPLOAD_SPEED = 921600

FS_DIR = web/static/

CHIP=esp32
BOARD=heltec_wifi_lora_32

